- model_class = BookingEmail
.page-header
  %h1=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize

= form_for :booking_email, url: school_booking_emails_path(@school), :html => { :class => 'form' }  do |f|
  .control-group
    %h4 To
    <
    = @school.email
    >
    =f.label :body, :class => 'control-label'
    .controls
      = f.text_area :body, value: @body, class: "field span6", rows: "15"
  .form-actions
    = f.submit "Send email", :class => 'btn btn-primary'
